{#

   Cette page contient le template de l'activité "ClickMeButton" (voir src/Controller/ClickMeActivity.php). 
 
 #}
<p>
    Ceci est une activité interactive. 
</p>

<button id="activity-button">
    {{ button_text }}
</button>
<br>
