{#

   Cette page contient le template édition de l'activité "ClickMeButton" (voir src/Controller/ClickMeActivity.php). 
 
 #}

<p>
    Ceci est une activité interactive. 
</p>

<button id="activity-button">
    {{ button_text }}
</button>
<br>

<p>
    Cette activité est ici en mode édition (indépendant)
</p>

<button class="icon-button">
    <img src="{{ asset("/images/icons/settings.png") }}"/>
    <span>Éditer...</span>
</button>