:root {
    --classes-list-padding: 20px;
    --classes-list-class-preview-padding: 50px 30px;
    --classes-list-margin: 20px;
    --classes-list-class-preview-border-radius: 7px;
    --classes-list-class-preview-spacing: 15px;
    --classes-list-class-preview-padding-horizontal: 30px;
    --classes-list-class-preview-padding-vertical: 50px;
    --classes-list-margin: 20px;
    --classes-list-class-preview-border-radius: 7px;
    --classes-list-class-preview-spacing: 15px;
    --classes-list-class-preview-edit-icon-size: 20px;
    --classes-list-class-preview-title-size: larger;
    --classes-list-add-class-button-border-width: 2px;
}
