div#settings-content div.info-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div#settings-content div.info-section:not(:first-child) {
    margin-left: var(--settings-account-info-spacing);
}

div#settings-content div.actions-section {
    display: flex;
    flex-direction: row;
    gap: var(--settings-account-actions-spacing);
    justify-content: left;
}

div#settings-content div#password-fields
{
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

div#settings-content div#password-fields input
{
    margin-bottom: var(--settings-account-password-spacing);
}

div#settings-content div#password-fields hr
{
    margin: 0px;
    margin-bottom: var(--settings-account-password-spacing);
    align-self: center;
    width: 50%;
}

