div.classes-list {
    position: relative;

    width: 100%;
    height: min-content;
    margin: 0px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;

}

div.classes-list div.class-preview, button#add-class-button {
    position: relative;

    margin: 0px;
    flex-grow: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

    box-sizing: border-box;
    padding: var(--classes-list-class-preview-padding-vertical) var(--classes-list-class-preview-padding-horizontal);

    border-radius: var(--classes-list-class-preview-border-radius);
    box-shadow: var(--classes-list-box-shadow-dx) var(--classes-list-box-shadow-dy) var(--classes-list-box-shadow-blurry) var(--classes-list-box-shadow-background);
    background-size: cover;
    background-position: 50% 50%;

    cursor: pointer;
}

div.classes-list a.class-preview-link {
    text-decoration: none;
    margin: var(--classes-list-margin);
}

div.classes-list a.class-preview-link.hidden {
    display: none;
}

div.classes-list div.class-preview h1 {
    margin-top: 0px;
    margin-bottom: var(--classes-list-class-preview-spacing);

    font-size: var(--classes-list-class-preview-title-size);
}

div.classes-list div.class-preview p {
    margin: 0px;
}

div.classes-list div.class-preview span.class-edit-icon {
    position: absolute;
    top: var(--classes-list-class-preview-padding-horizontal);
    right: var(--classes-list-class-preview-padding-horizontal);
}

div.classes-list div.class-preview span.class-edit-icon img {
    width: var(--classes-list-class-preview-edit-icon-size);
    opacity: 0.6;
}

div.classes-list button#add-class-button {
    margin: var(--classes-list-margin);
    background: none;
    border: var(--classes-list-add-class-button-border-width) dashed var(--inputs-surfaces-color);
    height: 100%;
    outline: none;
}

div.classes-list button#add-class-button img {
    height: 2.8em;
    box-sizing: border-box;
}

div.classes-list button#add-class-button span {
    font-size: var(--classes-list-class-preview-title-size);
}

