div.classes-list {
    position: relative;

    width: 100%;
    height: min-content;
    margin: 0px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;

}

div.classes-list div.class-preview {
    position: relative;

    margin: 0px;
    flex-grow: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;

    box-sizing: border-box;
    padding: var(--classes-list-class-preview-padding-vertical) var(--classes-list-class-preview-padding-horizontal);
    margin: var(--classes-list-margin);

    background: var(--inputs-surfaces-color);
    border-radius: var(--classes-list-class-preview-border-radius);

    cursor: pointer;
}

div.classes-list div.class-preview h1 {
    margin-top: 0px;
    margin-bottom: var(--classes-list-class-preview-spacing);

    font-size: var(--classes-list-class-preview-title-size);
}

div.classes-list div.class-preview p {
    margin: 0px;
}

div.classes-list div.class-preview span.class-edit-icon {
    position: absolute;
    top: var(--classes-list-class-preview-padding-horizontal);
    right: var(--classes-list-class-preview-padding-horizontal);
}

div.classes-list div.class-preview span.class-edit-icon img{
    width: var(--classes-list-class-preview-edit-icon-size);
    opacity: 0.6;
}
