header {
	position: relative;
	top: 0px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: var(--primary-color);
	color: var(--on-primary-text-color);
	padding: var(--header-padding);
}

header span.header-space {
	flex-grow: 1;
}

header > *:not(:first-child) {
	margin-left: var(--header-elements-left-margin);
}

#header-logo {
	display:flex;
	align-items:center;
}

#header-logo h1 {
	margin: 0;
	padding-left: var(--header-padding);
}

#header-logo a {
    text-decoration: none;
    color: inherit;
}

#header-user-icon {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header-user-icon img {
	height: var(--header-user-icon-heigth);
	border-radius: var(--header-user-border-radius);
}

#header-admin-prof-switch {
	display: flex;
	flex-direction: column;
	align-items: center;
}

