header, footer{
	height: 5%; /* Add a rule for little screens*/
	background: green;
	color: white;
	padding: 5px;
}

body{
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
}

main > *{
	text-align: center;
}