div#main-profile-page {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 300px;
    padding: 20px;
    padding-left: 20vw;
    padding-right: 20vw;
}

div#main-profile-page div.profile-identity {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    height: 100%;
}

div#main-profile-page div.profile-infos {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    align-items: start;
}

div#main-profile-page div.profile-description {
    flex: 1;

}

div#main-profile-page div.profile-description h1, div#main-profile-page div.profile-description h2, div#main-profile-page div.profile-description p {
    margin: 0px;    
}

div#main-profile-page div.profile-description h2 {
    opacity: 0.7;
}

div#main-profile-page ul.profile-coordinates {
    display: flex;
    flex-direction: column;
    margin: 0px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

div#main-profile-page ul.profile-coordinates li {
    list-style-type: none;
}

div#main-profile-page ul.profile-coordinates li h2 {
    margin: 0px;
}

div#main-profile-page div.profile-logos {
    position: relative;

    display: flex;
    flex-direction: row;
    height: 10%;

    justify-content: space-around;
}

div#main-profile-page div.profile-logos a {
    max-height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

div#main-profile-page div.profile-logos img {
    padding: 5px;
}

div#main-profile-page img.profile-thumbnail {
    box-sizing: border-box;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 100vh;
    margin-left: 100px;
}

div#profilepage-main-separation {
    position: relative;
    width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

div#profilepage-main-separation div#profile-listing {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

div#profile-listing div.profile-options {
    background: var(--profile-options-background);
    padding: var(--profile-options-padding-vertical) var(--profile-options-padding-horizontal);
    border-radius: var(--profile-options-border-radius);
    box-sizing: border-box;
}

div#profile-listing div.profile-options h2 {
    margin: 0px;
}

div#profile-listing div.profile-options ul {
    padding-left: 0px;
}

div#profile-listing div.profile-options li {
    list-style-type: none;
    margin: 0px;
}

