{% extends "base.html.twig" %}

{% block title %}
Éditer un utilisateur
{% endblock %}

{% block body %}

<div id="classpage-main-separation" class="content-separator">
    <div id="main-class-content" class="class-content">
    </div>

    {% include "sections/activity-thread.html.twig" %}
</div>

{% endblock %}

{% block javascripts %}



{% endblock %}

