<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{% endblock %} - Nooble</title>
        <link rel="stylesheet" href="{{ asset("styles/index.css") }}"/>
        <link rel="icon" type="image/png" href="{{ asset("images/logo.png") }}">
        <script src="{{ asset("scripts/index.js") }}"></script>
    </head>

    <body>
        <div id="login-div" class="center-div">
            <h1>Welcome back to Nooble!</h1>

            <div class="form-div">
                <h2>Please connect to your account</h2>

                <label>Email:</label>
                <input type="email" id="login-mail"/>

                <label>Password:</label>
              
                <input type="password" id="login-password"/>

                <span class="error-text" id="login-error-text"></span>

                <button class="main-button" id="login-button">
                    Sign in
                </button>

                <a href=".">I have forgotten my password</a>
            </div>
        </div>
    	<script type="module">

import LoginDiv from "{{ asset("/scripts/pages/login.js") }}";

let l = new LoginDiv(
    document.getElementById("login-mail"),
    document.getElementById("login-password"),
    document.getElementById("login-button"),
    document.getElementById("login-error-text"),
);

</script>
    </body>
</html>
