{# Page de connexion. N'hérite pas de base.html.twig car sa structure diffère #}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Connexion - Nooble</title>
        <link rel="stylesheet" href="{{ asset("styles/index.css") }}"/>
        <link rel="icon" type="image/png" href="{{ asset("images/logo.png") }}">
        <script src="{{ asset("scripts/index.js") }}"></script>
    </head>

    <body>
        <div id="login-div" class="center-div">
            <h1>Bienvenue dans Nooble!</h1>

            <div class="form-div">
                <h2>Merci de vous connecter à votre compte</h2>

                <label>Adresse mail:</label>
                <input type="email" id="login-mail"/>

                <label>Mot de passe:</label>
              
                <input type="password" id="login-password"/>

                <span class="result-text" id="login-error-text"></span>

                <button class="main-button" id="login-button">
                    Se connecter
                </button>

                <a href="/reset-passwd">J'ai oublié mon mot de passe</a>
            </div>
        </div>
    </body>
</html>

{% block javascripts %}
<script type="module">

{# Script de connexion #}
class LoginDiv
{
    constructor(
        mail_input,
        password_input,
        submit_button,
        error_text
    )
    {
        this._mail_input = mail_input;
        this._password_input = password_input;
        this._submit_button = submit_button;
        this._error_text = error_text;

        this._mail_input.addEventListener("input", () => {
            this.onInput()
        });

        this._password_input.addEventListener("input", () => {
            this.onInput()
        });

        this._submit_button.addEventListener("click", () => {
            this.onSubmit();
        });

        this.onInput()
    }

    onInput()
    {
        if (this.isValid())
        {
            this._submit_button.removeAttribute("disabled");
        } else {
            this._submit_button.setAttribute("disabled", "");
        }

        this._error_text.innerText = "";
        this._error_text.classList.remove("error");
        this._error_text.classList.remove("success");
    }

    isValid()
    {
        return this._mail_input.value.toLowerCase()
            .match(
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            ) 
        && this._password_input.value.length > 0;
    }

    async onSubmit()
    {
        let mail = this._mail_input.value;
        let password = this._password_input.value;

        this._submit_button.setAttribute("disabled", "");

        let data = await fetch(
            "/authenticate",
            {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: mail,
                    password
                })
            }
        );

        switch (data.status )
        {
            case 200:
            let result = await data.json();

            this._error_text.classList.add("success");
            this._error_text.innerText = "Bienvenue, " + result.surname + " " + result.name;
            setTimeout(() => {
                location.href = "/";
            }, 1000);
            break;
        
            case 401:
            this._error_text.classList.add("error");
            this._error_text.innerText = "Nom d'utilisateur ou mot de passe incorrect";
            break;
        
            default:
            this._error_text.classList.add("error");
            this._error_text.innerText = "An unkown error occured. Please contact your administrator";
            break;
        }
    }
}

{# Chargement du script #}
window.addEventListener("load", () => {
    let l = new LoginDiv(
        document.getElementById("login-mail"),
        document.getElementById("login-password"),
        document.getElementById("login-button"),
        document.getElementById("login-error-text"),
    );
})

</script>
{% endblock %}
