{% extends 'base.html.twig' %}

{% block body %}
<div id="classpage-main-separation" class="content-separator">
    <div id="main-class-content" class="class-content">
        <div class="class-title-content">
            <a class="class-back-link" href="/">
                <img src="{{ asset("/images/icons/back.png") }}">
            </a>
            <h1 id="class-title">
                WE4A - Introduction au design WEB
            </h1>
        </div>
    </div>

    {% include 'sections/activity-thread.html.twig' %}

    <script type="module">

import { DEFAULT_SECTION_TYPES_MAP } from "{{ asset("/scripts/classes/SectionTypesMap.js") }}"

(async () => {

let fetch_data = await fetch("/classes/{{ ue_id }}/get-content");
let data = await fetch_data.json();

let maincontent = document.getElementById("main-class-content");

if (data.error) 
{
    document.getElementById("class-title").textContent = "Impossible d'accéder à ce cours";
    let error_span = maincontent.appendChild(document.createElement("span"));
    error_span.classList.add("error");
    error_span.classList.add("result-text");

    switch (fetch_data.status)
    {
        case 401:
        error_span.innerText = "Vous devez d'abord vous connecter";
        break;

        case 403:
        error_span.innerText = "Vous n'avez pas la permission d'accéder à ce cours";
        break;

        default:
        error_span.innerText = "Une erreur s'est produite (" + data.error + ")";
        break;
    }
    return;
}

let mainSection = DEFAULT_SECTION_TYPES_MAP.export(data.content);
document.getElementById("class-title").textContent = data.name + " - " + data.description;

let html_base = maincontent.appendChild(mainSection.htmlElement);
html_base.id="main-class-section";

mainSection.addEventListener("modified", (event) => {
    if (event.detail.requires_reload)
    {
        let new_html = mainSection.htmlElement;
        maincontent.replaceChild(new_html, html_base);
        html_base = new_html;
    }
    console.log(event);
});
    
})()

    </script>
</div>

{% endblock %}
