{% extends "base.html.twig" %}

{% block title %}

Welcome, student

{% endblock %}

{% block body %}
<div id="homepage-main-separation" class="content-separator">
    <div id="homepage-content" class="main-page-content">
        <h1>Bonjour, Nimen Laden!</h1>

        <div id="classes" class="classes-list">
            {% for class in classes %}

            <a href="ue-read.php" class="class-preview-link">
                <div class="class-preview">
                    <h1>{{ class.title }}</h1>
                    <p>{{ class.description }}</p>
                </div>
            </a>
            
            {% endfor %}
        </div>
    </div>

    {{ include('sections/activity-thread.html.twig') }}

</div>

{% endblock %}
