{% extends "base-settings.html.twig" %}

{% block settings_body %}

{# Formulaire de modification de mot de passe #}
<div id="password-fields">
    <h1> Modifier le mot de passe </h1>
    <label> Mot de passe actuel </label>
    <input type="password" id="pass-actual"/>
    <hr></hr>
    <label> Nouveau mot de passe </label>
    <input type="password" id="pass-new-1"/>
    <label> Veuillez confirmer le nouveau mot de passe </label>
    <input type="password" id="pass-new-2"/>
    <span class="result-text" id="pass-error-text"></span>
    <button class="main-button" id="change-pass-btn" disabled>Modifier le mot de passe</button>
</div>

{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset("styles/pages/settings/account-password.css") }}" />

{% endblock %}

{# Scripts #}
{% block javascripts %}

<script>

{# Script de modification de mot de passe #}
class ChangePasswordScript
{
    constructor(last_password, password1, password2, valid_button, error_text)
    {
        this._error_textassword_field = last_password;
        this._first_field = password1;
        this._second_field = password2;
        this._valid_button = valid_button;
        this._error_text = error_text;

        last_password.addEventListener("input", () => {
            this.onFieldsChange();
        });
        password1.addEventListener("input", () => {
            this.onFieldsChange();
        });

        password2.addEventListener("input", () => {
            this.onFieldsChange();
        });

        valid_button.addEventListener("click", () => {
            this.onModifyClick();
        });
    }

    onFieldsChange()
    {
        this._error_text.innerText = "";
        this._error_text.classList.remove("error");
        this._error_text.classList.remove("success");

        if (this._error_textassword_field.value === ""
         || this._first_field.value === ""
         || this._first_field.value !== this._second_field.value
        ) {
            this._valid_button.setAttribute("disabled", '');
        } else {
            this._valid_button.removeAttribute("disabled");
        }

        if (this._first_field.value !== this._second_field.value
            && this._first_field.value !== ""
            && this._second_field.value !== ""
        ) {
            this._error_text.innerText = "Les mots de passe ne correspondent pas";
            this._error_text.classList.add("error");
        }
    

    }

    async onModifyClick()
    {
        let data = await fetch("/settings-api/account/change-password",
            {
                body: JSON.stringify({
                    last_password: this._error_textassword_field.value,
                    new_password: this._first_field.value,
                }),
                method: "POST",
            }
        )

        let result = await data.json;

        switch (data.status)
        {
            case 202:
            this._error_text.innerText = "Votre mot de passe a été modifié avec succès!";
            this._error_text.classList.add("success");

            this._error_textassword_field.value = "";
            this._first_field.value = "";
            this._second_field.value = "";
            break;

            case 401:
            this._error_text.innerText = "Le mot de passe actuel n'a pas été reconnu";
            this._error_text.classList.add("error");
            break;

            case 403:
            this._error_text.innerText = "Veuillez d'abord vous connecter";
            this._error_text.classList.add("error");
            setTimeout(() => {
               location.href = "/login"; 
            }, 1000);
            break;

            default:
            this._error_text.innerText = "Une erreur est survenue (" + result.error + ")";
            this._error_text.classList.add("error");

        }
    }

}

{# Activation du script #}
window.addEventListener("load", () => {
    let cps = new ChangePasswordScript(
        document.getElementById("pass-actual"),
        document.getElementById("pass-new-1"),
        document.getElementById("pass-new-2"),
        document.getElementById("change-pass-btn"),
        document.getElementById("pass-error-text"),
    )
}); 

</script>
    
{% endblock %}

