<html>
    <head>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1> Bonjour {{ user.surname }} {{ user.name }}, </h1>
        <p>
            Votre profil vient d'être modifié par l'administrateur {{ operator.surname }} {{ operator.name }}. 
        </p>
        <hr></hr>
        <small>Cet email est un email automatique. Merci de ne pas y répondre. </small>
    </body>
</html>