#top-profile {
    display: flex;
    background-color: #10a83e; /* bg-primary */
}

.profile-row {
    display: flex;
    width: 100%;
}

.profile-infos {
    flex: 8;
    display: flex;
    flex-direction: column;
}

.profile-coord {
    display: flex;
    flex-direction: column;
}

#description, #coordonnees {
    flex: 1;
}

#profile-pic img {
    border: 3px solid white;
    border-radius: 30%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#logos img {
    padding: 10px;
    height: 100px;
    max-width: 100%;
    align-items: center;
}

#rest-info {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.profile-col-4 {
    flex: 1;
    margin: 1rem auto;
}

#right-menu {
    background: #5c636a;
    border-radius: 5px;
    height: 100%;
}