{% extends "base-settings.html.twig" %}

{# Page d'accueil des paramètres. #}

{% block settings_body %}
<h1> Paramètres </h1>

{# la page est vide car elle n'est pas accessible depuis le site #}

{% endblock %}


