:root  {
    --primary-color: rgb(16, 168, 62);
    --surfaces-color: white;
    --inputs-surfaces-color: rgb(232, 224, 200);
    --secondary-color: rgb(213, 135, 67);

    --on-primary-text-color: white;
    
    --on-surface-text-color: black;

    --login-background: var(--surfaces-color);/*linear-gradient(to top right, var(--primary-color) 0%, var(--primary-color) 70%, var(--secondary-color) 100%);*/
    --login-form-background: var(--inputs-surfaces-color);/*linear-gradient(to top right, var(--primary-color) 0%, var(--primary-color) 70%, var(--secondary-color) 100%);*/
    --login-inputs-background: var(--surfaces-color);/*linear-gradient(to top right, var(--primary-color) 0%, var(--primary-color) 70%, var(--secondary-color) 100%);*/
    --login-div-title-color: var(--on-surfaces-text-color);
    --login-error-text-background: rgb(178, 36, 36);
    --login-error-text-color: white;

    --buttons-background: var(--secondary-color);
    --buttons-border-color: none;

    --activity-thread-activity-border-color: #ccc;
    --activity-thread-activity-box-shadow-color: var(--activity-thread-activity-border-color);
    --activity-thread-activity-line-color: #ccc;
    --activity-thread-activity-time-color: #888;

    --section-container-border-color: #ccc;
    --section-file-background: #ddd;
    --section-raw-text-edition-border-idle-color: lightgrey;
    --section-raw-text-edition-border-focus-color: black;
    --section-rich-text-edition-border-color: grey;
    --section-rich-text-edition-inner-border-color: #ececec;
    --section-editable-separation-color: grey;
    --section-media-editable-button-background: #fff8;
    --section-video-editable-button-background: var(--section-media-editable-button-background);
    --section-image-editable-button-background: var(--section-media-editable-button-background);
    --section-audio-editable-button-background: var(--section-media-editable-button-background);

    --profile-options-background: var(--secondary-color);
    
}
