/*

    Class sections defines the sections contained in the class reading pages. 
    They must not be confused with section elements, neither .class definitions

*/

.section {
    position: relative;
    margin: 0px;

    box-sizing: border-box;

/*    border: 1px dashed red; /* only for preview */
}

/*

    Class Section Enumerations

*/

/* Section Container */
div.section-container:not(.section-editable) {
    padding: var(--section-container-padding);
    margin: var(--section-container-margin);
}

div.section-container {
    border: var(--section-container-border-width) solid var(--section-container-border-color);
    border-radius: var(--section-container-border-radius);
}

div.section-container:not(.section-editable), div.section-container.section-editable > div.container-editable-content {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
}

div.section-container:not(.section-editable).horizontal-section-container, div.section-container.section-editable.horizontal-section-container > div.container-editable-content{
    flex-direction: row;
}

div.section-container:not(.section-editable).wrapping-section-container, div.section-container.section-editable.wrapping-section-container > div.container-editable-content{
    flex-wrap: wrap;
    gap: var(--section-container-wrapping-gap);
}

div.section-container.section-editable div.edit-container-buttons-actions {
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-grow: 0;
    flex-shrink: 1;
    align-items: center;
    flex-direction: row;
}

/* Raw Text*/
p.section-raw-text {
}

div.section-raw-text.section-editable {
    outline: none;
    border: 1px dashed lightgrey;
}

div.section-raw-text.section-editable:focus {
    outline: none;
    border: 1px dashed black;
}

/* Rich Text */
div.section-rich-text {
}

div.section-rich-text.section-editable {
    margin: 2px;
    border: 1px solid grey;
    border-radius: 3px;
}

div.section-rich-text.section-editable div.rich-text-section-edit-line {
    padding: 12px;
    background: #b6d5b6;
}

div.section-rich-text.section-editable div.rich-text-section-content {
    outline: none;
    padding: 5px;
    border: 5px solid lightgray;
}

/* File */
div.section-file {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: var(--section-file-border-radius);
    background: var(--section-file-backgroud);
    padding: var(--section-file-padding);
}

div.section-file p.file-description {
    flex-grow: 1;
    padding-right: var(--section-file-padding);
}

div.section-file .file-button {
    position: relative;

    display: flex;
    flex-direction: column;

    text-decoration: none;
    background: transparent;
    border: none;

    height: 100%;
    padding: 0px;
    padding-left: var(--section-file-padding);
    align-items: center;
}

div.section-file .file-button::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: #888;
    height: 100%;
    width: var(--section-file-line-width);
    border-radius: var(--section-file-line-width);
}

div.section-file .file-button img {
    width: var(--section-file-image-size);
    margin: calc(var(--section-file-padding) / 2);
}

div.section-file span.file-extension {
    margin: 0px;
    text-align: center;
}

/* Image */
img.section-image {
    height: auto; 
    width: auto; 

    flex: 1;

    max-width: 100%;
    max-height: 100%;
}

div.section-image.section-editable {
    position: relative;
}

div.section-image.section-editable img {
    position: relative;
}

div.section-image.section-editable button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FFF8;
    border: 0px;
}

/* Activity */
div.section-activity {
}

/* Video */
video.section-video, div.section-video.section-editable video {
    flex-grow: 1;

    max-width: 50vw;
    max-height: 50vh;
    height: auto;
    width: auto;

    border-radius: 10px;
}

div.section-video.section-editable {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.section-video.section-editable video {
    position: relative;
}

div.section-video.section-editable button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FFF8;
    border: 0px;
}

/* Audio */

div.section-audio.section-editable audio {
    position: relative;
}

div.section-audio.section-editable audio {
    position: relative;
    width: 100%;
}

div.section-audio.section-editable button {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #FFF8;
    border: 0px;
}

/* Integration */
iframe.section-integration {
    flex-shrink: 0;   
    border-radius: 10px;
}

/*

    Content edition styling

*/
.section.section-editable {
    min-width: 10px;
    min-height: 10px;
}

div.edit-content-section {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 5px;
}

/*

    The use of the direct symbol (">") is justified because one container can contain another one. 
    The style is here used for direct children. 

*/

div.section-container:not(.horizontal-section-container) > div.container-editable-content > div.edit-content-section {
    flex-direction: row;
}

div.section-container:not(.horizontal-section-container) > div.container-editable-content > div.edit-content-section:not(:first-child) {
    border-top: 1px dashed grey;
}

div.section-container.horizontal-section-container > div.container-editable-content > div.edit-content-section {
    flex-direction: column;
}

div.section-container.horizontal-section-container > div.container-editable-content > div.edit-content-section:not(:first-child) {
    border-left: 1px dashed grey;
}

div.edit-content-section div.edit-content-buttons-actions {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

div.section-container:not(.horizontal-section-container) > div.container-editable-content > div.edit-content-section > div.edit-content-buttons-actions {
    display: flex;
    flex-direction: column;
}

div.section-container.horizontal-section-container > div.container-editable-content > div.edit-content-section > div.edit-content-buttons-actions {
    display: flex;
    flex-direction: row;
}

div.edit-content-section .section {
    flex-grow: 1;
}

