/*

    Class sections defines the sections contained in the class reading pages. 
    They must not be confused with section elements, neither .class definitions

*/

.section {
    position: relative;
    margin: 0px;

    box-sizing: border-box;

/*    border: 1px dashed red; /* only for preview */
}


/*

    Class Section Enumerations

*/

/* Section Container */
div.section-container {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    padding: var(--section-container-padding);
    border: var(--section-container-border-width) solid var(--section-container-border-color);
    border-radius: var(--section-container-border-radius);
}

div.section-container.horizontal-section-container {
    flex-direction: row;
}

div.section-container.wrapping-section-container {
    flex-wrap: wrap;
    gap: var(--section-container-wrapping-gap);
}

/* Raw Text*/
p.section-raw-text {
}

div.section-raw-text.section-editable {
    outline: none;
    border: 1px dashed lightgrey;
}

div.section-raw-text.section-editable:focus {
    outline: none;
    border: 1px dashed black;
}

/* Rich Text */
div.section-rich-text {
}

div.section-rich-text.section-editable {
    margin: 2px;
    border: 1px solid grey;
    border-radius: 3px;
}

div.section-rich-text.section-editable div.rich-text-section-edit-line {
    padding: 12px;
    border-bottom: 1px solid green;
}

div.section-rich-text.section-editable div.rich-text-section-content {
    outline: none;
    padding: 10px;
}

/* File */
div.section-file {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: var(--section-file-border-radius);
    background: var(--section-file-backgroud);
    padding: var(--section-file-padding);
}

div.section-file p.file-description {
    flex-grow: 1;
    padding-right: var(--section-file-padding);
}

div.section-file a {
    position: relative;

    display: flex;
    flex-direction: column;

    text-decoration: none;

    height: 100%;
    padding: 0px;
    padding-left: var(--section-file-padding);
    align-items: center;
}

div.section-file a::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: #888;
    height: 100%;
    width: var(--section-file-line-width);
    border-radius: var(--section-file-line-width);
}

div.section-file a img {
    width: var(--section-file-image-size);
    margin: calc(var(--section-file-padding) / 2);
}

div.section-file span.file-extension {
    margin: 0px;
    text-align: center;
}

/* Image */
img.section-image {
    height: auto; 
    width: auto; 

    flex: 1;

    max-width: 100%;
    max-height: 100%;
}

/* Activity */
div.section-activity {
}

/* Video */
video.section-video {
    flex: 1;

    max-width: 50vw;
    max-height: 50vh;
    height: auto;
    width: auto;
}

video.section-audio {
}

/* Integration */
iframe.section-integration {
    flex-shrink: 0;   
}

/*

    Content edition styling

*/
div.edit-content-section {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 5px;
}

div.section-container:not(.horizontal-section-container) > div.edit-content-section {
    flex-direction: row;
}

div.section-container:not(.horizontal-section-container) > div.edit-content-section:not(:first-child) {
    border-top: 1px dashed lightgrey;
}

div.section-container.horizontal-section-container > div.edit-content-section {
    flex-direction: column;
}

div.section-container.horizontal-section-container > div.edit-content-section:not(:first-child) {
    border-left: 1px dashed lightgrey;
}

div.edit-content-section div.edit-content-buttons-actions {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

div.section-container:not(.horizontal-section-container) > div.edit-content-section div.edit-content-buttons-actions {
    display: flex;
    flex-direction: column;
}

div.section-container.horizontal-section-container > div.edit-content-section div.edit-content-buttons-actions {
    display: flex;
    flex-direction: row;
}

div.edit-content-section .section {
    flex-grow: 1;
}

