header {
	position: relative;
	top: 0px;

	background: var(--primary-color);
	color: var(--on-primary-text-color);
	padding: var(--header-padding);
}

#header-logo {
	display:flex;
	align-items:center;
}

#header-logo h1 {
	margin: 0;
	padding-left: var(--header-padding);
}

#header-logo a {
    text-decoration: none;
    color: inherit;
}