:root {
    --activity-thread-padding: 20px;
    --activity-thread-width: 18vw;
    --activity-thread-spacing: 30px;
    --activity-thread-activity-padding: 10px;
    --activity-thread-activity-border-radius: 6px;
    --activity-thread-activity-box-shadow-dimensions: 0px 2px 3px;
    --activity-thread-activity-line-width: 2px;
    --activity-thread-activity-title-size: large;
    --activity-thread-activity-description-size: medium;
    --activity-thread-activity-time-size: small;
    --activity-thread-activity-author-size: smaller;
    --activity-thread-activity-texts-margin: 2px;

    --activity-thread-activity-author-image-size: 20px;
    --activity-thread-activity-author-padding: 2px;
    --activity-thread-activity-author-horizontal-margin: 5px;
}

