<ul id="settings-menu-section">
    <li class="settings-menu-category">
        <h3 class="settings-title">Profile</h3>

        <ul class="settings-menu-category-list">
            <li class="settings-menu-item">
                <a href="/settings/profile/general">
                    <img src={{ asset("/images/icons/user.png") }}/>
                    <span>Paramètres généraux</span>
                </a>
            </li>
            <li class="settings-menu-item">
                <a href="/settings/profile/infos">
                    <img src={{ asset("/images/icons/info.png") }}/>
                    <span>Informations</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="settings-menu-category">
        <h3 class="settings-title">Accessibilité</h3>

        <ul class="settings-menu-category-list">
            <li class="settings-menu-item">
                <a href="/settings/profile/general">
                    <img src={{ asset("/images/icons/settings.png") }}/>
                    <span>Paramètres généraux</span>
                </a>
            </li>
            <li class="settings-menu-item">
                <a href="/settings/profile/infos">
                    <img src={{ asset("/images/icons/user.png") }}/>
                    <span>Informations</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
