{% extends "base.html.twig" %}

{% block body %}

{# Template de base des pages de paramètres. #}
<div id="settings-main-separation" class="content-separator">
    {% include "sections/settings-menu.html.twig" %}{# Intégration du menu. #}
    <div id="settings-content">
        {% block settings_body %}{# Contenu principal des paramètres. #}
        {% endblock %}
    </div>
</div>

{% endblock %}


